{% extends "base.html" %}

{% block title %}Add Recipe{% endblock %} 

{% block content %}
<div class="container">
    <form id="add_recipe" method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Add Recipe</h1>
        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Create Recipe</button>
        </div>
    </form>
</div>

<!-- Popup message container -->
<div id="loginPopup" class="popup">
    <div class="popup-content">
        <p>Recipe added successfully.</p>
        <button id="closePopup" class="btn btn-primary">Close</button>
    </div>
  </div>
  
  
  
  <!-- JavaScript to Handle the Popup and Form Submission -->
  <script>
    document.getElementById('add_recipe').addEventListener('submit', function(event) {
        // Pause the form from submitting immediately
        event.preventDefault();
  
        // Show the popup
        document.getElementById('loginPopup').style.display = 'flex'; // Change to 'flex' for centering
  
        // to popup close
        document.getElementById('closePopup').addEventListener('click', function() {
            document.getElementById('loginPopup').style.display = 'none';
            // Submit the form after closing the popup
            document.getElementById('add_recipe').submit();
        });
    });
  </script>

{% endblock %}