{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="form p-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary w-25">Sign Up</button>
  </form>
</div>


<!-- Popup message container -->
<div id="loginPopup" class="popup">
  <div class="popup-content">
      <p>You are logged in successfully.</p>
      <button id="closePopup" class="btn btn-primary">Close</button>
  </div>
</div>



<!-- JavaScript to Handle the Popup and Form Submission -->
<script>
  document.getElementById('signup_form').addEventListener('submit', function(event) {
      // Pause the form from submitting immediately
      event.preventDefault();

      // Show the popup
      document.getElementById('loginPopup').style.display = 'flex'; // Change to 'flex' for centering

      // to popup close
      document.getElementById('closePopup').addEventListener('click', function() {
          document.getElementById('loginPopup').style.display = 'none';
          // Submit the form after closing the popup
          document.getElementById('signup_form').submit();
      });
  });
</script>

{% endblock %}